@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Schibsted+Grotesk&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #FFFF;
}

body{
    background-image: url(./img_fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(20%);
    background-attachment: fixed;
}

header{
    margin: 0 auto;
    padding: 40px;
    padding-bottom: 12px;
    width: 50%;
    text-align: center;
}

header h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 14pt;
}

main{
    width: 50%;
    margin: 20px auto;
    padding: 40px;
    padding-top: 10px;
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #A400FF9E 0%, #1500E99C 100%);
}

p{
    padding: 20px 10px 0px 0px ;
}

input#tName{
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 5px;
}

input#tEmail{
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 5px;
}

input#tNumber{
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 5px;
}

select{
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 5px;
}

optgroup{
    color: black;
}

option{
    color: black;
}

textarea{
    display: block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 120px;
    border: none;
    padding: 5px;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    font-size: 12pt;
    margin-top: 5px;
}

input.checkbox{
    height: 15px;
    width: 15px;
    margin: 5px 8px 0px 0px;
}

p.hbox{
    margin-bottom: 10px;
}

input#submit{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;   
    background-color: #54B435;
    font-size: 12pt;
    font-weight: bold;
    transition: 0.3s;
}

input#submit:hover{
    text-decoration: underline;
    background-color: #F0ECCF ;
    color:#54B435;
}

footer{
    font-size: 10pt;
    background-color: #262A56;
    padding:30px;
}

footer p{
    text-align: center;
    margin-bottom: 0;
}

footer a{
    border-radius: 5px;
    display: block;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

footer a:hover{
    text-decoration:underline;
}